body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu-principal{
    background-color: #b5cbb7;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* nav a color*/ color: #ffffff;
    border-radius: 20px;
}
#menu-principal a { 
    color: #ffffff;
    text-decoration: none;
}
#menu-principal a:hover {color: #716f6f;}

#pioneiros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.div-pioneiros{
    background-color: #b5cbb7;
    padding: 15px;
    border-radius: 20px;
}
.article-pioneiros{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#bugs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.div-bugs{
    background-color: #b5cbb7;
    padding: 15px;
    border-radius: 20px;
}

.div-bugs-vagal{
    background-color: rgba(255, 255, 255, 0.7); 
    
    background-image: url("https://inkstickers.com.br/cdn/shop/files/LogoFireflies.png?v=1744398309");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-blend-mode: lighten; 
    
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}
.div-bugs-creeper{
    
    background-color: rgba(255, 255, 255, 0.7); 
    
    background-image: url("https://minecraft.wiki/images/Creeper_Head_%28S%29_JE1.png?14d9d");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-blend-mode: lighten; 
    
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

pre {
    background-color: #000000;
    color: #03b017;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    text-align: center;
}

#internet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.article-internet{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}


#linguagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.div-linguagens{
    background-color: #b5cbb7;
    padding: 10px;
    border-radius: 20px;
}
.article-linguagens{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#menu-secundario{
    background-color: #69916c;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* nav a color*/ color: #ffffff;
    border-radius: 20px;
}
#menu-secundario a { 
    color: #ffffff;
    text-decoration: none;
}
#menu-secundario a:hover {color: #716f6f;}

#nomes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.div-nome{
    background-color: #69916c;
    padding: 10px;
    border-radius: 20px;
}
.article-nome{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#acidentes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.div-acidentes{
    background-color: #69916c;
    padding: 10px;
    border-radius: 20px;
}
.article-acidentes{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}


#dinheiro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.div-dinheiro{
    background-color: #69916c;
    padding: 10px;
    border-radius: 20px;
}
.article-dinheiro{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#aleatorio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.div-aleatorio{
    background-color: #69916c;
    padding: 10px;
    border-radius: 20px;
}
.article-aleatorio{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#menu-terciaro{
    background-color: #3b613e;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* nav a color*/ color: #ffffff;
    border-radius: 20px;
}
#menu-terciaro a { 
    color: #ffffff;
    text-decoration: none;
}
#menu-terciaro a:hover {color: #716f6f;}

#easter-eggs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.div-easter{
    background-color: #3b613e;
    padding: 10px;
    border-radius: 20px;
}
.article-easter{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#bugs-absurdos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.div-bugs-absurdos{
    background-color: #3b613e;
    padding: 10px;
    border-radius: 20px;
}
.article-bugs-absurdos{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#comandos-secretos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.div-comandos-secretos{
    background-color: #3b613e;
    padding: 10px;
    border-radius: 20px;
}

.article-comandos-secretos{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#form{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#formulario{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

#formulario-secreto{
    background-color: white; 
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

